body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 36, 36);
}
a{
    text-decoration: none;
    color: currentColor;
}
.svg-logo{
    width: 15%;
    background: pink;
}
h1{
    text-align: center;
    margin-top: 100px;
    font-size: 3rem;
}
img{
    max-width: 100%;
    display: block;
}
/*------------------CONFIGURAÇÕES GERAIS------------------*/


.header{        /*----------------------------------------------MENU FIXO*/
    background: white;
    padding: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#btn-mobile{
    display: none;
}

.menu{
    display: flex;
}
.menu li{
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
    color: rgb(134, 134, 134);
}
.menu li a:hover{
    color: rgb(69, 70, 150);
}



.mainbody{        /*----------------------------------------------MENU FIXO*/
    background: rgba(197, 22, 22, 0.377);
    display: grid;
    grid-template-rows: 90vh 25vh 25vh 25vh;
}
.slidemain{        /*----------------------------------------------MENU FIXO*/
    background: rgba(148, 74, 74, 0.377);
}
.portfolio{        /*----------------------------------------------MENU FIXO*/
    background: rgba(148, 147, 74, 0.377);
}
.artigospdf{        /*----------------------------------------------MENU FIXO*/
    background: rgba(74, 148, 92, 0.377);
}
.redescontatos{        /*----------------------------------------------MENU FIXO*/
    background: rgba(74, 106, 148, 0.377);
}